.sidebar {
    width: 275px;
    position: fixed;
    z-index: 1;
}

.sidebar-links:first-child:hover {
    color: #657786;
    width: 33px;
}

.sidebar-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E1E8ED;
    font-weight: 700;
    padding: 15px;
    padding-left: 30px;
    /* margin-top: 41px;
    padding-left: 30px; */
}

.sidebar-links i {
    font-size: 25px;
}

.sidebar-links p {
    font-size: 20px;
    margin-left: 24px;
}

.sidebar-links:hover {
    color: #1DA1F2;
    background-color: rgba(29, 161, 242, 0.1);
    width: 160px;
    border-radius: 50px;
}

.active {
  color: #1DA1F2;
  background-color: rgba(29, 161, 242, 0.3);
  width: 160px;
  border-radius: 50px;
}

.btn-tweet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
    color: #E1E8ED;
    font-weight: 700;
    font-size: 18px;
    width: 230px;
    height: 50px;
    background-color: #1DA1F2;
    border-radius: 50px;
}

.btn-tweet:hover {
    background-color: #1981c2;
}

.btn-tweet:focus {
    background-color: #26638a;
}
